# Uber: Partner Business Modeling

**Leng Yang**

**Last Updated: 1/29/25**

## Assignment

Project Source: https://platform.stratascratch.com/data-projects/partner-business-modeling

__Scenario 1__: It is going to be a huge Saturday and there will need to be many more cars on the road than last week. In order to get drivers to go online, we're assessing the following two bonus options in terms of cost:

* Option 1: $50 for each driver that is online at least 8 hours, accepts 90% of requests, completes 10 trips, and has a rating of 4.7 or better during the time frame;

* Option 2: $4/trip for all drivers who complete 12 trips, and have a 4.7 or better rating.

Using the dataset provided and given Scenario 1, provide answers to the questions below:

1. How much would the total bonus payout be with Option 1?
2. How much would the total bonus payout be with Option 2?
3. How many drivers would qualify for a bonus under Option 1 but not under Option 2?
4. What percentages of drivers online completed less than 10 trips, had an acceptance rate of less than 90%, and had a rating of 4.7 or higher?

__Scenario 2__: A taxi driver currently generates $200 per day in fares (before expenses), works six days a week, takes three weeks off, and has the following expenses:

* Gas: $200 per week

* Insurance: $400 per month

* Vehicle rent (by the week): $500

The driver doesn't pay gas and rent expenses on off weeks.

Now, let's assume that the same driver would buy a Town Car and partner with Uber. If he does, his gas expenses would go up by 5%, his insurance expense would decrease by 20%, and he would no longer be renting a vehicle. However, he would need to buy a car. The driver would still take three weeks off per year.

Given Scenario 2, provide answers to the questions below:

5. How much money (after expenses) does the taxi driver make per year without partnering with Uber?
6. You are convincing the same driver above to buy a Town Car and partner with Uber. Assuming the new car is 40,000 USD, how much would the driver's gross fares need to increase per week to fully pay for the car in year 1 and maintain the same yearly profit margin as before?

## Data Description

The dataset is given in the file `dataset_2.csv`. The data come from rides on a busy Saturday and are aggregated on a driver level. The dataset provides information on the total number of completed trips, the driver's acceptance rate, the total number of hours on duty, and the average rating.

Only use this dataset to answer questions 1-4. There is no dataset provided for questions 5 and 6 as these are solely based on a given scenario.

<BR><BR>

In [112]:
#Load in necessary libraries
import pandas as pd
import numpy as np

In [30]:
#Load in dataset into Pandas and fill in dates
df = pd.read_csv('./datasets/dataset_2.csv')
#Rename columns
df.columns = df.columns.str.lower().str.strip().str.replace(' ','_')

In [32]:
#Look at info of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             119 non-null    object
 1   trips_completed  119 non-null    int64
 2   accept_rate      119 non-null    object
 3   supply_hours     119 non-null    int64
 4   rating           119 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.8+ KB

In [34]:
#Preview first 5 records
df.head()

      name  trips_completed accept_rate  supply_hours  rating
0    Abdul                1        100%             3     4.8
1  Abraham               12         83%             5     4.7
2  Adelina                1        100%             2     4.7
3   Akilah                1        100%             2     4.9
4     Alec               21         76%            11     5.0

### 1. How much would the total bonus payout be with Option 1?
Option 1: $50 for each driver that is online at least 8 hours, accepts 90% of requests, completes 10 trips, and has a rating of 4.7 or better during the time frame.

In [47]:
#Convert accept_rate column to numeric so values can be operated on
df.accept_rate = df.accept_rate.str.replace('%','').astype('int')

In [64]:
#Count the number of drivers who match the criteria and multiply by the given amount
len(df.loc[(df.supply_hours >= 8) & (df.accept_rate >= 90) & (df.trips_completed >= 10) & (df.rating >= 4.7), :]) * 50

1050

<BR>

### 2. How much would the total bonus payout be with Option 2?
Option 2: $4/trip for all drivers who complete 12 trips, and have a 4.7 or better rating.

In [74]:
#Select drivers who meet the criteria, and multiply the number of trips by 4, then get the total cost across all drivers
np.sum(df.loc[(df.trips_completed >= 12) & (df.rating >= 4.7), 'trips_completed'] * 4)

2976

<BR>

### 3. How many drivers would qualify for a bonus under Option 1 but not under Option 2?

In [98]:
#Count of all drivers who fit Option 1, but not Option 2 using AND NOT operators
len(df.loc[(df.supply_hours >= 8) & (df.accept_rate >= 90) & (df.trips_completed >= 10) & (df.rating >= 4.7) & ~((df.trips_completed >= 12) & (df.rating >= 4.7)), :])

2

In [104]:
#Drivers who only fit Option 1
df.loc[(df.supply_hours >= 8) & (df.accept_rate >= 90) & (df.trips_completed >= 10) & (df.rating >= 4.7) & ~((df.trips_completed >= 12) & (df.rating >= 4.7)), :]

       name  trips_completed  accept_rate  supply_hours  rating
88     Oren               11           91             9     4.8
92  Phyllis               10           90             8     4.8

<BR>

### 4. What percentages of drivers online completed less than 10 trips, had an acceptance rate of less than 90%, and had a rating of 4.7 or higher?

In [110]:
#Divide nmber of drivers who fit the criteria over all drivers
df.loc[(df.accept_rate < 90) & (df.trips_completed < 10) & (df.rating >= 4.7), :].shape[0] / df.shape[0] * 100

10.92436974789916

<BR>

### 5. How much money (after expenses) does the taxi driver make per year without partnering with Uber?

In [159]:
#Assign variables
pay_day = 200
days_wk = 6
gas_wk = 200
ins_mth = 400
vh_rent_wk = 500

#Calculate yearly expenses
yearly_expense = ((gas_wk + vh_rent_wk) * 49) + (ins_mth * 12)
#Calculate yearly salary
yearly_pay = (pay_day * days_wk * 49)
#Calculate profit
yearly_pay - yearly_expense

19700

<BR>

### 6. You are convincing the same driver above to buy a Town Car and partner with Uber. Assuming the new car is 40,000 USD, how much would the driver's gross fares need to increase per week to fully pay for the car in year 1 and maintain the same yearly profit margin as before?

In [182]:
#Car price
car = 40000

#Calculate new yearly expenses
new_yearly_expense = (gas_wk * 1.05 * 49) + (ins_mth * 0.8 * 12) + car

Equation to maintain the same yearly pay:

49 * 6x - new_yearly_expense = 19700

In [193]:
#Solve for x (daily revenue)
new_pay_day = (19700 + new_yearly_expense) / (6 * 49)

In [195]:
#Double check the math to ensure the yearly profit is the same
new_pay_day * 6 * 49 - new_yearly_expense

19700.0

In [201]:
#Determine the necessary increase in gross fares per week
round((new_pay_day - pay_day) * days_wk, 2)

306.73